body {
    margin: 0;
    padding: 0;
    font-family: SF Pro Display;
    overflow: hidden;
}

#wrapper {
    margin: auto;
}

p {
    text-align: center;
}

#bar {
    height: 5px;
    width: 125px;
    background: white;
    border-radius: 5px;
    -webkit-app-region: drag;
    margin: auto;
}

#phone-frame {
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 45px;
    width: 375px;
    height: 812px;
    border: 5px solid #050505;
    animation: fadein 0.2s;
}

.form-wrapper {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 300px;
    height: 30px;  
    opacity: 0%;
}

.form-wrapper:hover {
    opacity: 100%;
    animation: fadein 0.2s;
}

#text {
    border: none;
    width: 240px;
    height: 25px;
    background: #050505;
    color: white;
    border-radius: 10px;
    font-size: 14pt;
    padding: 5px;
    font-family: SF Pro Display;
}

#btn {
    border: none;
    height: 22px;
    width: 27px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: none;
    color: white;
    font-family: SF Pro Display;
    font-weight: 600;
    display: none;
}

#device-text {
    margin: 5px 0px 10px 0px;
    color: white;
    border: none;
    font-family: SF Pro Display;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
}

#device-text:hover {
    cursor: pointer;
    color: #808080;
}

#devices {
    animation: fadein 0.2s;
    display: none;
    background: rgba(0,0,0,0.25);
    border-radius: 5px;
    margin: auto;
    width: 250px;
    height: 78px;
    margin-bottom: 10px;
}

.device-item {
    color: white;
    border: none;
    font-family: SF Pro Display;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

.device-item:hover {
    cursor: pointer;
    color: #808080;
}


textarea:focus, input:focus{
    outline: none;
}

.show {
    display: block;
}

@keyframes fadein {
    from {opacity: 0%}
    to {opacity: 100%}
}

i {
    position: relative;
    left: 10px;
    top: 2px;
}