body {
    margin: 0;
    padding: 0;
    font-family: SF Pro Display;
    overflow: hidden;
}

#wrapper {
    margin: auto;
}

.tool-box {
    width: 395px;
    height: 50px;
    background: rgba(9, 9, 9, 0.781);
    border-radius: 10px;
    margin: auto;
    position: relative;
    -webkit-app-region: drag;
    z-index: 0;
    animation: fadein 0.2s;
    border-top: 1px solid rgba(255, 255, 255, 0.063);
    border-right: 1px solid rgba(255, 255, 255, 0.012);
    border-bottom: 1px solid rgba(255, 255, 255, 0.012);
    border-left: 1px solid rgba(255, 255, 255, 0.022);
}



.btn-container {
    height: 100%;
    width: 85px;
    float: left;
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.btn-container:hover .close-btn { 
    background: #FF3135;
}

.btn-container:hover .minimize-btn { 
    background: #FFBE00;
}

.btn-container:hover .maximize-btn { 
    background: #00D646;
}


.btn-container div {
    margin: 4px;
}

.close-btn {
    -webkit-app-region: no-drag;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    background: #464646;
    transition: background 0.1s;
    cursor: pointer;
}

.minimize-btn {
    transition: background 0.1s;
    -webkit-app-region: no-drag;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    background: #464646;
    cursor: pointer;
}

.maximize-btn {
    transition: background 0.1s;
    -webkit-app-region: no-drag;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    background: #464646;
    cursor: pointer;
}

#notch {
    position: absolute;
    top: 70px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 375px; /* Need a specific value to work */
}

.title {
    font-size: 11pt;
    color: rgba(255, 255, 255, 0.808);
    font-weight: 600;
    width: 50%;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: -1;
    user-select: none;
}

p {
    text-align: center;
}

#bar {
    height: 5px;
    width: 125px;
    background: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}

#phone-frame {
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 45px;
    width: 378px;
    height: 812px;
    border: 10px solid #050505;
    animation: fadein 0.2s;
    z-index: 1;
    
    overflow: hidden;
}

#text {
    border: none;
    width: 150px;
    height: 20px;
    background: none;
    color: white;
    border-radius: 7px;
    font-size: 9pt;
    padding: 5px;
    padding-left: 10px;
    font-weight: 500;
    font-family: SF Pro Display;
    -webkit-app-region: no-drag;
}

#btn {
    border: none;
    height: 22px;
    width: 27px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: none;
    color: white;
    font-family: SF Pro Display;
    font-weight: 600;
    display: none;
}

@keyframes fadein {
    from {opacity: 0%}
    to {opacity: 100%}
}

i {
    position: relative;
    left: 5px;
    top: 2px;
}

textarea:focus, input:focus{
    outline: none;
}

input::placeholder {
    opacity: 1.0;
}